body{
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgb(216, 230, 197)
}
#app{
    background-color: rgb(172, 242, 206);
    margin:auto;
    width:70%;
    padding: 10px;
    border-radius: 25px;
}